<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page.title }} &ndash; {{ site.title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ kirby.url }}/static/master.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/brands.css">
</head>
<body>

  <input type="checkbox" id="menu-invoke" autocomplete="off">

  <header class="hero">
    <div class="hero__bg"></div>
    <div class="hero__content col max80 mx">

      <aside class="sd-px1">
        <div class="py05">
          <nav class="px05 self-center md-row justify-between nowrap">
            {% if site.social.notEmpty %}
            <ul class="lh4 row justify-center">
              {% for item in site.social.toStructure %}
              <li><a
                class="block p05"
                title="{{ item.name }}"
                href="{{ item.url }}"
              ><span class="fab inline-block py025" aria-hidden="true">&#x{{ item.code }};</span><span class="hide">{{ item.name }}</span></a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <ul class="lh4 row justify-center">
              <li><a class="block p05 ul:hover" href="#">link 1</a></li>
              <li><a class="block p05 ul:hover" href="#">link 2</a></li>
            </ul>
          </nav>
        </div>
      </aside>
      <hr class="px1 sd-px2 div o10">
      <div class="py1 sd-p1 sd-row ld-row justify-between items-center flex-wrap">
        <div class="order0 row justify-between span1 span-auto">
          <h1><a class="block px1 py05 fw900" style="font-size: 1.75rem;" href="{{ page('home').url }}">
            {{- site.title -}}
          </a></h1>
          <div class="ld-hide">
            <label for="menu-invoke" class="block p1 cursor-pointer">menu</label>
          </div>
        </div>
        <hr class="order1 w100 ld-hide">
        <nav id="menu" class="order1 span1 span-auto hide ld-show">
          <ul class="ld-row justify-end ac">
            {% for _page in site.pages.listed %}
            <li><a
              class="block p1 ul{% if _page != page %}:hover{% endif %}"
              href="{{ _page.url }}"
            >{{ _page.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="span1 py2 md-py4 col justify-center">
        <div class="py1 sd-px1 col ld-row justify-around items-center">
          <div class="span1 max32 py1 md-py2">
            <h1 class="p1 h1 lh1 fw800">Donec Dictum Libero Tortor, a Consectetur</h1>
            <h2 class="p1 h4 lh4 o80">Sollicitudin quam auctor, mattis purus,
              suspendisse mattis sollicitudin eros, euismod ultricies lorem,
              in eu lacinia erat maecenas efficitur</h2>
            <div class="row">
              <div class="p1"><a class="button p1" href="#">
                <span class="button__label px05 fw500 lh4 color-white uc">Explore further</span>
              </a></div>
            </div>
          </div>
          <div class="span1 max32 py1 md-py2">
            <div class="p1">
              <figure>
                <img
                  class="block"
                  src="{{ page('home').file('undraw_quite_town_mg2q.svg').url }}"
                  style="max-width: 100%; height: auto; margin: 0 auto;"
                >
              </figure>
            </div>
          </div>
        </div>
      </div>
      <hr class="px1 sd-px2 div o10">
      <aside class="py1 sd-p1">
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));">
          {% for i in 1..3 %}
          <article class="px05 py075 row flex-wrap">
            <div class="px05 py025">
              <svg class="block" style="fill: none; opacity: .6" width="56" height="56" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width=".8" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"/>
              </svg>
            </div>
            <div class="px025 span1" style="min-width: 18rem;">
              <h1 class="h4 lh2 fw700"><a class="p025 inlineblock ul:hover" href="#">Hello!</a></h1>
              <div class="p025 o80">
                <p class="lh4">Quisque ut tempus magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
              </div>
              <a class="anchor p025 inlineblock link--chevron fw500 lh4" href="#"><span class="ul:hover">Read more</span></a>
            </div>
          </article>
          {% endfor %}
        </div>
      </aside>

    </div>
  </header>

  <main class="wrap py2 md-py4">
    <div class="py1 md-py2">
      <div class="py1 sd-p1 md-grid2 ld-grid4">
        {% for i in 1..4 %}
        <article class="p075">
          <figure class="p025">
            <svg class="block bg-black-10" viewBox="0 0 4 3"></svg>
          </figure>
          <div class="p025">
            <h1 class="h5 lh3 fw700">Hello World!</h1>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
    <div class="py1 md-py2">
      <div class="py1 sd-p1 ld-grid3">
        {% for i in 1..3 %}
        <article class="p075">
          <figure class="p025">
            <svg class="block bg-black-10" viewBox="0 0 8 5"></svg>
          </figure>
          <div class="p025">
            <h1 class="h5 lh3 fw700">Hello World!</h1>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </main>

  {% if site.footer.notEmpty %}
  <footer class="bg-black-90 color-white">
    <div class="wrap py2">
      <div class="py1 sd-p1">

        <div class="p1 copy ac">
          {{ site.footer | kt }}
        </div>

      </div>
    </div>
  </footer>
  {% endif %}

</body>
</html>
